@import "~variables.styl"
.nav-area
  padding 8px 32px
  background-color $clr-white-list
  position relative
  z-index 1
  &:empty
    display none
.nav-area__item
  display inline-block
  &:not(:last-child):after
    content:"/"
    display inline-block
    margin 0 4px
  &:hover{
    color $clr-green
    cursor pointer
  }