@import "variables";
@import "navbar/navbar";
@import "footer/footer";
@import "main-container/main-container";
@import "title-hello/title-hello"
html,body
  min-height 100%
html
  height 100%

body,body *
  &, &:after, &:before
    box-sizing border-box
body
  background-color $clr-grey-100